<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>ADMIN</mat-card-title>
      </mat-card-header>
      <br>
      <!-- field form for username and password -->
      <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
        <mat-card-content>
  
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" required>
            <!-- <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error> -->
          </mat-form-field>
  
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <!-- <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error> -->
            </button>
          </mat-form-field>
  
        </mat-card-content>
        <button mat-stroked-button color="primary" class="btn-block" routerLink="/admin-home">Log in</button>
        <!-- [disabled]="!loginForm.valid" -->
      </form>
  
      <br>
      <!-- <div class="signup">
        <a routerLink="">Forgot Password</a>
        <br>
        <a routerLink="/signup_tenant">Not a Sign-Up yet? Sign-Up here!</a>
      </div> -->
    </mat-card>
  
  </div>
  
  <pre>
  {{loginForm.value | json }}
  </pre>