.example-header-image {
    width:150px;
    height:150px;
    border: outset;
    border-color: black;
    border-width: 2px;
    background-size: cover;
  }
  
.container{
  margin: 10px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

/* .example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
} */

.container .button{
  display: flex; 
  justify-content: center;
  align-items: center;
 
}