<div class="background" fxFlex>
    <!-- content -->
    <div class="content" >
      <div class="container">
        <br>
        <h1>TENANT MANAGEMENT SYSTEM DASHBOARD</h1>
        <br>
        <div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10" fxLayoutAlign="center">

            <mat-card fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 2 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-title >Tenant Profile Details</mat-card-title>
              <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="/add-tenant">Create</button>
                <button mat-raised-button color="primary" routerLink="/view-tenant">List</button>
              </mat-card-actions>
            </mat-card>
            
            <mat-card fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 2 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-title >Payments and Bills Details</mat-card-title>
              <mat-card-actions>
                <button mat-raised-button color="primary">Create</button>
                <button mat-raised-button color="primary">List</button>
              </mat-card-actions>
            </mat-card>
          
            <mat-card fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 2 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-title >Customer Services</mat-card-title>
              <mat-card-actions>
                <button mat-raised-button color="primary">Create</button>
                <button mat-raised-button color="primary">List</button>
              </mat-card-actions>
            </mat-card>
          
            <mat-card fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 2 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-title >Rooms Details</mat-card-title>
              <mat-card-actions>
                <button mat-raised-button color="primary">Create</button>
                <button mat-raised-button color="primary">List</button>
              </mat-card-actions>
            </mat-card>
          </div>
      </div>
    </div>

  </div>