<div>
  <!-- about_page -->
  <div id="about" class="w3-row-padding w3-padding-64 w3-sand">
      <div class="w3-twothird w3-container">
        <br>
        <h1><span class="w3-xlarge w3-border-blue w3-bottombar"><b>About Us</b></span></h1>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum
          dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="w3-third w3-container">
        <p class="w3-border w3-round-small w3-hover-border-blue w3-padding-large w3-padding-32 w3-center">AD</p>
        <p class="w3-border w3-round-small w3-hover-border-blue w3-padding-large w3-padding-64 w3-center">AD</p>
      </div>
  </div>    
<mat-divider></mat-divider>
  <!-- Contact Container -->
  <div class="w3-container w3-row-padding w3-padding-64  w3-light-grey" id="contact">
      <div class="w3-row">
        <div class="w3-col m5">
          <h2><span class="w3-xlarge w3-border-blue w3-bottombar">Contact Us</span></h2>
          <h3>Address of the hostel</h3>
          <p>Information of the hostel, promoting the hostel.</p>
          <p><i class="fa fa-map-marker w3-text-blue w3-xlarge"></i>    Kota Samarahan, Kuching</p>
          <p><i class="fa fa-phone w3-text-blue w3-xlarge"></i>  +00 1515151515</p>
          <p><i class="fa fa-envelope-o w3-text-blue w3-xlarge"></i>  fyp2TenantSystemManagement@test.com</p>
        </div>
      </div>
    </div>

</div>